* {
  padding: 0;
  margin: 0;
  
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.container {
/*   background-color: red; */
  display: flex;
  gap: 40px;  
}

.product-image{
}

/* Centering page */
/* PRODUCT */
.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
  
  position: relative;
}

.product::after {
  content: "SALE";
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: #ec2f2f;
  color: #fff;
  padding: 7px 15px;
  
  position: absolute;
  top: -17px;
  left: -38px;
}

.product-title {
  font-size: 22px;
  background-color: #f7f7f7;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
}

/* PRODUCT INFO */
.product-info{
  flex: 1;
  margin-top: 20px;
}

.product-coast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.product-price {
  font-size: 24px;
}

.product-shipping {
  font-size: 12px;
  color: #777;
  font-weight: bold;
  text-transform: uppercase;
}

.product-info:link, .product-info:visited {
  color: #000;
  display: inline-block;
  margin: 0 0 30px 0;
}

.product-info:hover, .product-info:active {
  text-decoration: none;
  color: #000;
}

.product-colors {
  display: flex;
  gap: 10px;
}

.color {
  background-color: #000;
  height: 22px;
  width: 22px;
}

.color-blue {
  background-color: #2f6ee2;
}

.color-red {
  background-color: #ec2f2f;
}

.color-yellow {
  background-color: #f0bf1e;
}

.color-green {
  background-color: #90cc20;
}

.color-brown {
  background-color: #885214;
}

/* PRODUCT DETAILS */
.product-details {
  flex: 1;
  margin-top: 20px;
}

.details-title{
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 15px 0;
}

.details-list {
  list-style: square;
  margin: 0 20px 0;
}

.details-list li {
  margin: 0 0 10px 0;
}

/* BUTTON */
.add-product-btn{
  font-size: 20px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 15px;
  border: 4px solid #000;
}

.add-product-btn:hover {
  background-color: #fff;
  color: #000;
}
